html,body{
  margin:0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

:root{
  --primary-color:##039bfc;
  --primary-color2:##ccebff;
  --title-color:#ffffff;
  --text-color:#ffffff;
  --border-color:#201f1f17;
  --gradient-color:linear-gradient(90deg,#0795f1 0%,#0795f1 100%);
  --shadow-color: 0px 10px 30px #854fee);
  --box-shadow:0px 10px 30px #854fee);
}
